GitPython
Pillow
accelerate

basicsr
blendmodes
clean-fid
einops
fastapi>=0.90.1
gfpgan
gradio==3.39.0
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
psutil
pytorch_lightning
realesrgan
requests
resize-right

safetensors
scikit-image>=0.19
timm
tomesd

flask
flask-cloudflared
flask-cors
flask-compress
markdown
Pillow
colorama
webuiapi
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
torchvision==0.15.1
torchaudio==2.0.1+cu117
accelerate
transformers==4.28.1
diffusers==0.16.1
silero-api-server
chromadb
sentence_transformers
edge-tts
torchdiffeq
torchsde
transformers==4.30.2
